configuration {
	theme: "/usr/share/rofi/themes/gruvbox-dark-hard.rasi";
        modi: "window,drun,ssh,combi,calc,file-browser,emoji,run";
        font: "hack 10";
        combi-modi: "window,drun,emoji";
}
